@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Manrope:wght@200..800&display=swap');

body {
    margin: 0;
    font-family: 'Manrope', sans-serif;
}

h1 {
    font-family: 'Cormorant', serif;
    color: #084794;
}

h2 {
    font-family: 'Cormorant', serif;
    font-style: italic;
    font-weight: 200;
}



/* landing page css */

.landing__page {
    position: relative;
    min-height: 100vh;
    overflow: hidden;

    display: flex;
    align-items: center;
}

.landing__video {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.landing__page_btns {
    position: relative;
    z-index: 1;

    width: 100%;
    padding: 0 5%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.landing__page_btns a {
    text-decoration: none;
}

.landing__reservations, .landing__homepage {
    font-family: 'Gloock', serif;
    color: #FAF4ED;
    border: 2px solid #FAF4ED;
    background-color: transparent;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    padding: 1rem 1.2rem;
}

/* nav css */

nav {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2rem 4.5rem;
}

.lettermark {
    font-family: 'Cormorant', serif;
    font-weight: 800;
    font-size: 4.5rem;
    color: #084794;
    letter-spacing: 0.2rem;
}

ul {
    list-style: none;
    display: flex;
    gap: 40px;

}

.nav__links li{
    list-style: none;
    font-family: 'Cormorant', serif;
    font-weight: 600;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
    
}

.nav__links a{
    color: #084794;
    text-decoration: none;
}

.nav__reservations {
    font-family: 'Cormorant', serif;
    color: #084794;
    border: 2px solid #084794;
    background-color: transparent;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    padding: 1rem 1rem;
}

/* hero css */

.hero {
    background-image: url('../media/homepage-hero.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;   
}

/* main content css */

.main-content {

}

.site-summary {
    display: flex;
    justify-content: center;
}

.site-summary__text {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    margin-left: 8rem;
}

.site-summary__text h1 {
    font-size: 3rem;
}

.site-summary__text h2 {
    margin-top: -2rem;
}

    /* main-content review section css */

.review-section {}

.plate-trio {
    display: flex;
    flex-direction: column;
}

.plate-trio img {
    height: 35%;
    width: 25%;

    margin: -6rem;
    margin-left: -1.5rem;
}

